.outerHUD {
  display: block;
  position: fixed;
  z-index: 1;
  left: 20px;
  bottom: 20px;
  min-width: 100px;
}

.timingHUD {
  display: block;
  position: fixed;
  z-index: 1;
  left: 20px;
  top: 20px;
  min-width: 200px;


}

.outerHUD, .timingHUD {
  /* background-color: white; */
  background-image: url('../checkered-flag-high-resolution-wallpaper.jpg');

  border: 2px solid white;
  padding: 16px;
  -webkit-text-fill-color: orangered;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

}

.outerHUD div, .timingHUD div {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
}



