.modal {
    display: block;
    position: fixed;
    z-index: 2;

    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url('../checkered-flag-high-resolution-wallpaper.jpg');
    /* border: 2px solid yellow; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

#instructions, #intro-sheet, #race-settings {
    display: block;

    color: black;
    font-size: 30px;
    background-color: aliceblue;
    opacity: 0.91;
    width: 60%;
    height: 100%;
    margin: 0 auto;
      background-image : linear-gradient(to bottom, 
                    rgba(255,255,255, 0), 
                    rgba(255,255,255, 1) 90%);

}

#loading {
    display: block;
    margin: 0 auto;
    top: 50%;
    z-index: 1;
    color: black;
    font-size: 30px;
    background-color: aliceblue;
}

#intro-sheet {
    z-index: 5;
    padding: 150px 0 0 0;
}

#instructions {
    z-index: 4;
}

#race-settings {
    z-index: 3;
}

.instructions input {
    z-index: 3;
}

li {
    list-style: none
}

#instructions p, #race-settings p {
    color: orangered;
}

#top-select {
    color: black;
    font-size: 40px;
    margin: 0 0 0px 0;
}


h2 {
    font-size: 100px;
    padding: 30px;
    margin: 50px 0;
    -webkit-text-fill-color: orangered;
      -webkit-text-stroke-width: 5px;
}

div p {
    padding: 30px 0 0 0;
    margin-block-start: 0;
}

li {
    font-size: 30px;
}

ul {
    padding: 30px 0 0 0;
}
.gameSettings {
    left: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gameSettings div {
        display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#submit, #continue, #click-through, #restart {
    border: 2px solid orangered;
    border-radius: 3px;
    -webkit-text-fill-color: orangered; /* Will override color (regardless of order) */
    background-color: aliceblue;
    font-size: 24px;
    padding: 14px 12px;
    margin: 16px;
    outline: none;
    cursor: pointer;
}

#race-end {  
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vw;
    margin: 0 auto;
    top: 0;
    /* opacity: 0; */
    z-index: 4;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    text-align: center;
    color: orangered;
    background-color: aliceblue;

}

#race-end p {
    margin: 0;
    padding: 0;
}

#race-end img {
    width: 140vh;
    height: 73.6vh;
}

#faster {
    padding-top: 30px;
}

#submit:hover, #continue:hover, #click-through:hover {
    /* background-color: greenyellow; */
}

#submit:focus, #continue:focus, #click-through:focus {
    background-image: url('../checkered_flag.jpg');

}

#loading {
    position: absolute;
    display: none;
    height: 100vh;
    width: 100vw;
    top: 0px;
    background-image: url('../47loading.jpg'); 
    background-position: center;
    /* image from https://pbs.twimg.com/media/CLzn5zRUsAATPYz.jpg */
    z-index: 10;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    font-size: 75px;
    color: white;
}

#loading p {
    position: relative;
    top: 80px;
    left: 100px;
}

.social-links a, marker {
    font-size: 40px;
    color: orangered;
    text-decoration: none;
}

h6 {
    margin: 10px;
}

/* temporary for display purposes */

#instructions {
    /* padding: 5% 0 0 0; */
}

#race-settings {
    /* padding: 3% 0 0 0; */
}