.modal {
    display: block;
    position: fixed;
    z-index: 2;

    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url('../checkered-flag-high-resolution-wallpaper.jpg');
    /* border: 2px solid yellow; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

#instructions, #intro-sheet, #race-settings {
    display: block;

    color: black;
    font-size: 30px;
    background-color: aliceblue;
    opacity: 0.91;
    width: 60%;
    height: 100%;
    margin: 0 auto;
      background-image : linear-gradient(to bottom, 
                    rgba(255,255,255, 0), 
                    rgba(255,255,255, 1) 90%);

}

#loading {
    display: block;
    margin: 0 auto;
    top: 50%;
    z-index: 1;
    color: black;
    font-size: 30px;
    background-color: aliceblue;
}

#intro-sheet {
    z-index: 5;
    padding: 15vh 0 0 0;
}

#instructions {
    z-index: 4;
}

#race-settings {
    z-index: 3;
}

.instructions input {
    z-index: 3;
}

li {
    list-style: none
}

#instructions p, #race-settings p {
    color: orangered;
}

#top-select {
    color: black;
    font-size: 40px;
    margin: 0 0 0px 0;
}


h2 {
    font-size: 100px;
    padding: 30px;
    margin: 50px 0;
    -webkit-text-fill-color: orangered;
      -webkit-text-stroke-width: 5px;
}

div p {
    padding: 20px 0 0 0;
    margin-block-start: 0;
    margin: 0 0 2.3vh 0;
}

li {
    font-size: 30px;
}

.gameSettings {
    left: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* the following radio button style settings draw heavily from Angela Velasquez' code pen:
https://codepen.io/AngelaVelasquez/pen/Eypnq */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: all 0.25s linear;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input[type=radio]{
    position: absolute;
    left: -24px;
    z-index: 6;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.checkmark {
    display: block;
    position: absolute;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    left: -8px;
    /* z-index: 5; */
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.container:hover input ~ .checkmark {
    background-color: #ffffff;
    border: 5px solid #2196F3;
}

input[type=radio]:checked ~ .checkmark {
  /* background-color: #2196F3; */
  background-color: #ffffff;
}

input[type=radio]:checked ~ .checkmark::before{
  background: #2196F3;
}

.checkmark::before {
    display: block;
    position: absolute;
	content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 5px;
	left: 5px;
    margin: auto;
	transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .checkmark {
  border: 5px solid #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

input[type=radio]:checked ~ label{
  color: #2196F3;
}


#submit, #continue, #click-through, #restart, #ldr-restart, #save-best-lap, #okay {
    border: 2px solid orangered;
    border-radius: 3px;
    -webkit-text-fill-color: orangered; /* Will override color (regardless of order) */
    background-color: aliceblue;
    font-size: 24px;
    padding: 14px 12px;
    margin: 16px;
    outline: none;
    cursor: pointer;
}

#race-end, #leaderboard {  
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vw;
    margin: 0 auto;
    top: 0;
    /* opacity: 0; */
    z-index: 4;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5.5vh;
    text-align: center;
    color: orangered;
    background-color: aliceblue;
}

#race-end p {
    margin: 0;
    padding: 0;
}

#race-end img {
    width: 140vh;
    height: 73.6vh;
}

#faster {
    padding-top: 30px;
}

#submit:hover, #continue:hover, #click-through:hover {
    background-color: #EEE;
}

#submit:focus, #continue:focus, #click-through:focus {
    background-image: url('../checkered_flag.jpg');
}

#loading {
    position: absolute;
    display: none;
    height: 100vh;
    width: 100vw;
    top: 0px;
    background-image: url('../47loading.jpg'); 
    background-position: center;
    /* image from https://pbs.twimg.com/media/CLzn5zRUsAATPYz.jpg */
    z-index: 10;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    font-size: 75px;
    color: white;
}

#loading p {
    position: relative;
    top: 80px;
    left: 100px;
}

.social-links a, marker {
    font-size: 40px;
    color: orangered;
    text-decoration: none;
}

h6 {
    margin: 10px;
}

/* temporary for display purposes */

#instructions {
    /* padding: 5% 0 0 0; */
}

#race-settings {
    /* padding: 3% 0 0 0; */
}

#leaderboard {
    z-index: 12;
}

#name-warning {
    z-index: 11;
    position: absolute;
    display: none;
    height: 50vh;
    width: 50vw;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    top: 20vh;
    left: 25vw;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5.5vh;
    text-align: center;
    color: orangered;

    background-color: aliceblue;

    border: 3px solid orangered;
    border-radius: 5px;
}

#best-times li {
    padding: 0px 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}