.modal {
    display: block;
    position: fixed;
    z-index: 2;

    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url('../checkered-flag-high-resolution-wallpaper.jpg');
    /* border: 2px solid yellow; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

#instructions, #intro-sheet, #race-settings {
    display: block;

    color: black;
    font-size: 30px;
    background-color: aliceblue;
    width: 60%;
    height: 100%;
    margin: 0 auto;
    top: 0px;
}

#intro-sheet {
    z-index: 5;
}

#instructions {
    z-index: 4;
}

#race-settings {
    z-index: 3;
}

.instructions input {
    z-index: 3;
}

li {
    list-style: none
}

.instructions p {
    margin: 10px;
}

h2 {
    font-size: 100px;
    padding: 30px;
    -webkit-text-fill-color: royalblue;
      -webkit-text-stroke-width: 5px;
}

div p {
    padding: 30px 0 0 0;
    margin-block-start: 0;
}

li {
    font-size: 30px;
}

ul {
    padding: 30px 0 0 0;
}
.gameSettings {
    left: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gameSettings div {
        display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#submit, #continue, #click-through {
    border: 2px solid orangered;
            -webkit-text-fill-color: orangered; /* Will override color (regardless of order) */
    background-color: aliceblue;
    font-size: 24px;
    padding: 8px;
    margin: 16px;
}

#race-end {  
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 4;
}

#faster {
    padding-top: 30px;
}

#submit:hover, #continue:hover, #click-through:hover {
    background-color: green;
}

#submit:focus, #continue:focus, #click-through:focus {
    background-image: url('../checkered-flag-high-resolution-wallpaper.jpg');

}
